.App {
    text-align: center;
  }
  .page {
    width: 27cm;
    min-height: 29.7cm;
    /*padding: 2cm;*/
    margin: 0 auto;
    /*border: 1px #d3b934 solid;*/
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .subpage {
    padding: 1cm;
    /*border: 5px red solid;*/
    height: 375mm;
    /*outline: 2cm #FFEAEA solid;*/
  }
  .customize-button {
    width: 35px;
    height: 35px;
    line-height: 30px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  .customize-button > img {
    width: 20px;
    height: 20px;
    display: block;
  }
  
  .dark-button > img {
    width: 20px;
    height: 20px;
    padding: 2px;
    box-sizing: border-box;
    display: block;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    /*.page {*/
    /*margin: 0;*/
    /*border: initial;*/
    /*border-radius: initial;*/
    /*width: initial;*/
    /*min-height: initial;*/
    /*box-shadow: initial;*/
    /*background: initial;*/
    /*page-break-after: always;*/
    /*}*/
    * {
      background: transparent !important;
      box-shadow: none !important;
      text-shadow: none !important;
    } /* Black prints faster: h5bp.com/s */
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    } /* Don't show links for images, or javascript/internal links */
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    thead {
      display: table-header-group;
    } /* h5bp.com/t */
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    @page {
      margin: 0.5cm;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    p,
    h2,
    h3,
    h4,
    h1,
    h5 {
      color: inherit !important;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .BoundedLogo {
    margin: 12pt;
  }
  .container p {
    text-align: left;
  }
  .App-link {
    color: #61dafb;
  }
  
  a {
    text-decoration: none;
  }
  .footer {
    position: fixed;
    height: 50px;
    z-index: 9999;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  p {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 1.5em;
    margin-bottom: 0px;
  }
  
  h1 {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 44px;
    line-height: 60px;
  }
  h2 {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 32px;
    line-height: 44px;
  }
  h3 {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 24px;
    line-height: 33px;
  }
  h4 {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px;
    line-height: 25px;
  }
  
  h5 {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 1.5em;
  }
  span {
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 18px;
    font-size: 14px !important;
  }
  